<body class="contacts page body_style_boxed body_filled top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
  <div class="body_wrap">
    <div class="page_wrap">
      <div class="top_panel_fixed_wrap"></div>
      <header class="top_panel_wrap top_panel_style_3 scheme_original">
        <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
          <div class="top_panel_top">
            <div class="content_wrap clearfix">
              <div class="top_panel_top_user_area top_panel_top_user_area_right hire_no">

              </div>
            </div>
          </div>
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box"
            [fullScreen]="true">
            <p style="color: white"> Loading... </p>
          </ngx-spinner>
          <!-- <div class="top_panel_middle">
                        <div class="content_wrap">
                            <div class="columns_wrap columns_fluid">
                                <div class="column-1_3 contact_logo">
                                    <div class="logo">
                                        <a href="index.html"><img src="images/logo1.png" class="logo_main" alt=""><img
                                                src="images/logo1.png" class="logo_fixed" alt="">
                                            <div class="logo_text">ProGuards</div>
                                            <br>
                                            <div class="logo_slogan">safety above all</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="column-2_3 menu_main_wrap">
                                    <a href="#" class="menu_main_responsive_button icon-menu"></a>
                                    <nav class="menu_main_nav_area">
                                        <ul id="menu_main" class="menu_main_nav">
                                            <li class="menu-item menu-item-has-children"><a href="#">Home</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="index.html">Home 1</a></li>
                                                    <li class="menu-item"><a href="home-2.html">Home 2</a></li>
                                                    <li class="menu-item"><a href="home-3.html">Home 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a href="#">Elements</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
                                                    <li class="menu-item"><a href="typography.html">Typography</a></li>
                                                    <li class="menu-item"><a href="404.html">404</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a href="#">About</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="about-us.html">About us</a></li>
                                                    <li class="menu-item"><a href="team.html">Team</a></li>
                                                    <li class="menu-item"><a href="single-team.html">Team Member</a>
                                                    </li>
                                                    <li class="menu-item"><a href="services.html">Services</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="blog.html">Standard Blog</a></li>
                                                    <li class="menu-item"><a href="post-formats.html">Post Formats</a>
                                                    </li>
                                                    <li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item"><a
                                                                    href="masonry-2-columns.html">Masonry (2
                                                                    columns)</a></li>
                                                            <li class="menu-item"><a
                                                                    href="masonry-3-columns.html">Masonry (3
                                                                    columns)</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-has-children"><a
                                                            href="#">Portfolio</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item"><a
                                                                    href="portfolio-2-columns.html">Portfolio (2
                                                                    columns)</a></li>
                                                            <li class="menu-item"><a
                                                                    href="portfolio-3-columns.html">Portfolio (3
                                                                    columns)</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="grid-gallery.html">Grid</a></li>
                                                    <li class="menu-item"><a href="masonry-gallery.html">Masonry</a>
                                                    </li>
                                                    <li class="menu-item"><a href="cobbles-gallery.html">Cobbles</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="shop.html">Shop</a></li>
                                            <li class="menu-item current-menu-item"><a href="contacts.html">Contacts</a>
                                            </li>
                                            <li class="boxed_item menu-item big_padding"><a href="hire-us.html">Hire
                                                    Us</a></li>
                                            <li class="boxed_item menu-item"><a href="career-center.html">Career
                                                    Opportunities</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div> -->
        </div>
      </header>
      <div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_3 title_present_inner breadcrumbs_present_inner">
          <div class="content_wrap">
            <h1 class="page_title">Contacts</h1>
            <div class="breadcrumbs">
              <a class="breadcrumbs_item home" href="index.html">Home</a>
              <span class="breadcrumbs_delimiter"></span>
              <span class="breadcrumbs_item current">Contacts</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- <div id="sc_googlemap_20" class="sc_googlemap" data-zoom="16" data-style="greyscale">
                    <div id="sc_googlemap_20_1" class="sc_googlemap_marker" data-title="" data-description=""
                        data-address="New-York" data-latlng="" data-point="images/google_map.png"></div>
                </div> -->
      </div>
      <footer class="contacts_wrap scheme_original">
        <div class="contacts_wrap_inner">
          <div class="content_wrap">
            <div class="contacts_address">
              <h3>Contact us</h3>
              <div class="sc_form_wrap">
                <div class="sc_form sc_form_style_form_2">
                  <div class="sc_columns columns_wrap">
                    <div class="sc_form_address column-1_3">
                      <div class="sc_form_address_field">
                        <span class="sc_form_address_label">Address</span>
                        <span class="sc_form_address_data">Fremont,CA 94538</span>
                      </div>
                      <div class="sc_form_address_field">
                        <span class="sc_form_address_label">Phone</span>
                        <span class="sc_form_address_data">(510) 491-4402</span>
                      </div>
                      <div class="sc_form_address_field">
                        <span class="sc_form_address_label">E-mail</span>
                        <span class="sc_form_address_data">info@surefiresecurity.com</span>
                      </div>
                      <div class="sc_form_address_field">
                        <span class="sc_form_address_label">We are open</span>
                        <span class="sc_form_address_data">Monday - Sunday 9AM - 9PM</span>
                      </div>
                      <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_small">
                        <div class="sc_socials_item">
                          <a href="https://twitter.com/510Surefire" target="_blank"
                            class="social_icons social_twitter"><span class="icon-twitter"></span></a>
                        </div>
                        <div class="sc_socials_item">
                          <a href="https://www.facebook.com/510Surefire?mibextid=LQQJ4d" target="_blank"
                            class="social_icons social_facebook"><span class="icon-facebook"></span></a>
                        </div>

                        <div class="sc_socials_item">
                          <a href="https://instagram.com/surefire.security?igshid=MjEwN2IyYWYwYw==" target="_blank"
                            class="social_icons social_instagramm"><span class="icon-instagramm"></span></a>
                        </div>

                      </div>
                    </div>
                    <div class="sc_form_fields column-2_3 pl2_6">
                      <form #f="ngForm" id="sc_form_30" data-formtype="form_2" (ngSubmit)="onSubmit(f)">
                        <div class="sc_form_info">
                          <div class="sc_form_item sc_form_field label_over">
                            <label class="required" for="sc_form_username">Name</label>
                            <input id="sc_form_username" type="text" name="username" placeholder="Name *"
                              [(ngModel)]="username" required />
                          </div>
                          <div class="sc_form_item sc_form_field label_over">
                            <label class="required" for="sc_form_email">E-mail</label>
                            <input id="sc_form_email" type="text" name="email" placeholder="E-mail *"
                              [(ngModel)]="email" required />
                          </div>
                        </div>
                        <div class="sc_form_item sc_form_message label_over">
                          <label class="required" for="sc_form_message">Message</label>
                          <textarea id="sc_form_message" name="message" placeholder="Message" [(ngModel)]="message"
                            required></textarea>
                        </div>
                        <div class="sc_form_item sc_form_button">
                          <button>Submit</button>
                        </div>
                        <div class="result sc_infobox"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- <footer class="footer_wrap widget_area scheme_original">
                    <div class="footer_wrap_inner widget_area_inner">
                        <div class="content_wrap">
                            <div class="columns_wrap">
                                <aside class="column-1_2 widget widget_socials">
                                    <div class="widget_inner">
                                        <div class="logo">
                                            <a href="index.html"><img src="images/logo1.png" class="logo_main" alt="">
                                                <div class="logo_text">ProGuards</div>
                                                <br>
                                                <div class="logo_slogan">safety above all</div>
                                            </a>
                                        </div>
                                        <div class="logo_descr">
                                            <span class="lh_1">
                                                <span class="titl">Personal Security</span>ProGuards Security Services
                                                <br /> 8531 S. Central Ave
                                                <br /> Los Angeles, CA. 90000
                                                <br /> Ph: (123) 123-1234 Fax: (123) 123-1234
                                                <br />
                                                <br /> Email: <a href="#" class="accent2">info@ancorathemes.com</a>
                                            </span>
                                            <span class="lh_1">
                                                <span class="titl">Secure My Organization</span>ProGuards Security Services
                                                <br /> 8531 S. Central Ave
                                                <br /> Los Angeles, CA. 90000
                                                <br /> Ph: (123) 123-1234 Fax: (123) 123-1234
                                                <br />
                                                <br /> Email: <a href="#" class="accent2">info@ancorathemes.com</a>
                                            </span>
                                        </div>
                                    </div>
                                </aside>
                                <aside class="column-1_2 widget widget_text">
                                    <div class="textwidget">
                                        <span class="lh_2 ic_list">
                                            <a href="#">Temporary Security</a><br>
                                            <a href="#">Private Security</a><br>
                                            <a href="#">Ambassador Program</a><br>
                                            <a href="#">Integrated Security Solutions</a><br>
                                            <a href="#">National Accounts</a><br>
                                            <a href="#">The Experience</a><br>
                                            <a href="#">About Us</a>
                                        </span>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </footer> -->
      <div class="copyright_wrap copyright_style_menu scheme_original">
        <div class="copyright_wrap_inner">
          <div class="content_wrap">
            <ul class="menu_footer_nav">
              <li class="menu-item"><a href="index.html">Home</a></li>
              <li class="menu-item"><a routerLink="/services">Services</a></li>
              <li class="menu-item"><a routerLink="/about-us">About US</a></li>
              <li class="menu-item"><a href="index.html">Request A Quote</a></li>
              <li class="menu-item"><a routerLink="/career">Career</a></li>
              <li class="menu-item"><a routerLink="/contact-us">Contact-US</a></li>
            </ul>
            <div class="copyright_text">
              <a href="#">Surefire</a> &copy; 2023 All Rights Reserved
              <span><a href="#" class="tou">Terms of Use</a> and
                <a href="#" class="pp">Privacy Policy</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
</body>