<body class="home_2 page body_style_boxed body_filled top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
  <div class="body_wrap">
    <div class="page_wrap">
      <div class="top_panel_fixed_wrap">

      </div>
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
      </ngx-spinner>


      <section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_proguards_slider2">
        <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container sc_custom_block_4">
          <div id="rev_slider_2_1" class="rev_slider fullwidthabanner tp-overflow-hidden" data-version="5.2.5.4">
            <ul>
              <li data-index="rs-2" data-transition="random" data-slotamount="7" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-thumb="assets/images/slider2_1-100x50.jpg" data-rotate="0" data-saveperformance="off"
                data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="assets/images/1327x642.png" alt="" title="slider2_1" width="1327" height="642"
                  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                  data-no-retina />
                <div class="tp-caption largeboldwhitemiddle tp-resizeme" id="slide-2-layer-1" data-x="right"
                  data-hoffset="240" data-y="bottom" data-voffset="210" data-width="auto" data-height="auto"
                  data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
                  data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none"
                  data-responsive_offset="on">

                </div>
                <div class="tp-caption red tp-resizeme" id="slide-2-layer-2" data-x="right" data-hoffset="85"
                  data-y="bottom" data-voffset="170" data-width="auto" data-height="auto" data-transform_idle=""
                  data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;"
                  data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">

                </div>
              </li>
              <li data-index="rs-13" data-transition="random" data-slotamount="7" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-thumb="assets/images/100x50.png" data-rotate="0" data-saveperformance="off" data-title="Slide"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                data-param8="" data-param9="" data-param10="" data-description="">
                <img src="assets/images/1327x644.png" alt="" title="slider2" width="1327" height="644"
                  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                  data-no-retina />
                <div class="tp-caption largeboldwhitemiddle tp-resizeme" id="slide-13-layer-1" data-x="right"
                  data-hoffset="240" data-y="bottom" data-voffset="210" data-width="auto" data-height="auto"
                  data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
                  data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none"
                  data-responsive_offset="on">

                </div>
                <div class="tp-caption red tp-resizeme" id="slide-13-layer-2" data-x="right" data-hoffset="85"
                  data-y="bottom" data-voffset="170" data-width="auto" data-height="auto" data-transform_idle=""
                  data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;"
                  data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">

                </div>
              </li>
              <li data-index="rs-14" data-transition="random" data-slotamount="7" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-thumb="assets/images/100x50.png" data-rotate="0" data-saveperformance="off" data-title="Slide"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                data-param8="" data-param9="" data-param10="" data-description="">
                <img src="assets/images/1327x644.png" alt="" title="slider1" width="1327" height="644"
                  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                  data-no-retina />
                <div class="tp-caption largeboldwhitemiddle tp-resizeme" id="slide-14-layer-1" data-x="right"
                  data-hoffset="240" data-y="bottom" data-voffset="210" data-width="auto" data-height="auto"
                  data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
                  data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none"
                  data-responsive_offset="on">
                </div>
                <div class="tp-caption red tp-resizeme" id="slide-14-layer-2" data-x="right" data-hoffset="85"
                  data-y="bottom" data-voffset="170" data-width="auto" data-height="auto" data-transform_idle=""
                  data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;"
                  data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">

                </div>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="form_button icon-double-down"></a>
        <div class="sc_section slider_form in_slider">
          <div class="sc_section_inner">
            <div class="sc_section_overlay">
              <div class="sc_section_content">
                <h4 class="sc_title sc_title_regular">
                  Request A Quote
                </h4>
                <div class="sc_form_wrap">
                  <div class="sc_form sc_form_style_form_custom">

                    <form (ngSubmit)="onSubmit()" #homeForm>
                      <div class="result sc_infobox"></div>
                      <div class="sc_form_item sc_form_item_text sc_form_field label_left">
                        <label for="sc_form_username">Name*</label>
                        <input type="text" id="sc_form_username" name="username" [(ngModel)]="username" required />
                      </div>
                      <div class="sc_form_item sc_form_item_text sc_form_field label_left">
                        <label for="sc_form_phone">Phone*</label>
                        <input type="text" id="sc_form_phone" name="phone" [(ngModel)]="phone" required />
                      </div>
                      <div class="sc_form_item sc_form_item_text sc_form_field label_left">
                        <label for="sc_form_email">Email*</label>
                        <input type="text" id="sc_form_email" name="email" [(ngModel)]="email" required />
                      </div>
                      <div class="sc_form_item sc_form_item_text sc_form_field label_left">
                        <label for="sc_form_company">Company*</label>
                        <input type="text" id="sc_form_company" name="company" [(ngModel)]="company" required />
                      </div>
                      <div class="sc_form_item sc_form_item_text sc_form_field label_left">
                        <label for="sc_form_zip">Zip*</label>
                        <input type="text" id="sc_form_zip" name="zip" value="" [(ngModel)]="zip" required />
                      </div>
                      <div class="sc_form_item sc_form_item_select sc_form_field label_left">
                        <label for="sc_form_help">Select Service*</label>
                        <div class="sc_form_select_container">
                          <select id="sc_form_help" name="help" [(ngModel)]="help">
                            <option value="Building Security">Building Security</option>
                            <option value="Patrol Services">Patrol Services</option>
                            <option value="Parking Control">Parking Control</option>

                          </select>
                        </div>
                      </div>
                      <div class="sc_form_item sc_form_item_button sc_form_button label_top">
                        <button id="sc_form_4">submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
          <div class="content">
            <article class="page">
              <section class="post_content">
                <div class="bg_white boxed_gap">
                  <div class="sc_content content_wrap" data-animation="animated fadeInUp normal">
                    <div class="sc_services_wrap">
                      <div
                        class="sc_services sc_services_style_services-1 show_icons_yes position-left sc_services_type_icons sc_custom_margin_9"
                        data-interval="8010" data-slides-per-view="3">
                        <div class="sc_columns columns_wrap">
                          <div class="column-1_3 column_padding_bottom">
                            <div class="sc_services_item">
                              <a href="index.html"><span class="sc_icon icon-cloud-light"></span></a>
                              <div class="sc_services_item_content">
                                <h4 class="sc_services_item_title">
                                  <a href="index.html">Security Guard
                                    Services</a>
                                </h4>
                                <div class="sc_services_item_description">
                                  <p>
                                    Whether you need Armed or Unarmed Security
                                    Officers for a small business or major
                                    corporation, we can meet all your security
                                    needs.
                                  </p>

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column-1_3 column_padding_bottom">
                            <div class="sc_services_item">
                              <a href="index.html"><span class="sc_icon icon-leaf"></span></a>
                              <div class="sc_services_item_content">
                                <h4 class="sc_services_item_title">
                                  <a href="index.html">Vehicle Security
                                    Patrol</a>
                                </h4>
                                <div class="sc_services_item_description">
                                  <p>
                                    Our Security Officers are trained and
                                    licensed and meet all state requirements set
                                    by the California Bureau of Security &#038;
                                    Investigative...
                                  </p>

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column-1_3 column_padding_bottom">
                            <div class="sc_services_item">
                              <a href="index.html"><span class="sc_icon icon-briefcase"></span></a>
                              <div class="sc_services_item_content">
                                <h4 class="sc_services_item_title">
                                  <a href="index.html">Parking Control</a>
                                </h4>
                                <div class="sc_services_item_description">
                                  <p>
                                    Our management team works directly with each
                                    client to provide a custom-tailored security
                                    program to meet all requirements.
                                  </p>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>





                <!-- <div class="shdwt">
                  <div class="sc_content content_wrap" data-animation="animated fadeInUp normal">
                    <h4 class="sc_title sc_title_regular sc_align_center">
                      The Best of Professionals
                    </h4>
                    <div class="sc_team_wrap">
                      <div class="sc_team sc_team_style_team-1" data-interval="9621" data-slides-per-view="4">
                        <div class="sc_columns columns_wrap">
                          <div class="column-1_4 column_padding_bottom">
                            <div class="sc_team_item">
                              <div class="sc_team_item_avatar">
                                <img alt="" src="assets/images/870x870.png" />
                              </div>
                              <div class="sc_team_item_info">
                                <h5 class="sc_team_item_title">
                                  <a href="single-team.html">Miranda Kerr</a>
                                </h5>
                                <div class="sc_team_item_position">
                                  director
                                </div>
                                <div
                                  class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter"><span
                                        class="icon-twitter"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook"><span
                                        class="icon-facebook"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_linkedin"><span
                                        class="icon-linkedin"></span></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column-1_4 column_padding_bottom">
                            <div class="sc_team_item">
                              <div class="sc_team_item_avatar">
                                <img alt="" src="assets/images/390x390.png" />
                              </div>
                              <div class="sc_team_item_info">
                                <h5 class="sc_team_item_title">
                                  <a href="single-team.html">Tom Johnes</a>
                                </h5>
                                <div class="sc_team_item_position">
                                  security assessor
                                </div>
                                <div
                                  class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter"><span
                                        class="icon-twitter"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook"><span
                                        class="icon-facebook"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_linkedin"><span
                                        class="icon-linkedin"></span></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column-1_4 column_padding_bottom">
                            <div class="sc_team_item">
                              <div class="sc_team_item_avatar">
                                <img alt="" src="assets/images/390x390.png" />
                              </div>
                              <div class="sc_team_item_info">
                                <h5 class="sc_team_item_title">
                                  <a href="single-team.html">Mark Priston</a>
                                </h5>
                                <div class="sc_team_item_position">
                                  data protection
                                </div>
                                <div
                                  class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter"><span
                                        class="icon-twitter"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook"><span
                                        class="icon-facebook"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_linkedin"><span
                                        class="icon-linkedin"></span></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column-1_4 column_padding_bottom">
                            <div class="sc_team_item">
                              <div class="sc_team_item_avatar">
                                <img alt="" src="assets/images/390x390.png" />
                              </div>
                              <div class="sc_team_item_info">
                                <h5 class="sc_team_item_title">
                                  <a href="single-team.html">Linda Green</a>
                                </h5>
                                <div class="sc_team_item_position">
                                  customer support
                                </div>
                                <div
                                  class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter"><span
                                        class="icon-twitter"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook"><span
                                        class="icon-facebook"></span></a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_instagramm"><span
                                        class="icon-instagramm"></span></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </section>
            </article>
          </div>
        </div>
        <div class="sc_gap">
          <div class="sc_section" data-animation="animated bounceIn normal sc_custom_block_3">
            <div class="sc_section_inner">
              <div class="sc_section_overlay">
                <!-- <div class="sc_section_content">
                  <h4 class="sc_title sc_title_regular sc_align_center">
                    What People Say
                  </h4>
                  <div id="sc_testimonials"
                    class="sc_testimonials sc_testimonials_style_testimonials-2 sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_controls_side aligncenter"
                    data-interval="8889">
                    <div class="slides swiper-wrapper">
                      <div class="swiper-slide" data-style="width:100%;">
                        <div id="sc_testimonials_1" class="sc_testimonial_item">
                          <div class="sc_testimonial_content">
                            <p>
                              The company installed and maintains the security
                              system at my home. They are great to work with, if
                              I have any questions or need help, they are very
                              willing to answer and help. They are honest and
                              prompt with their service.
                            </p>
                          </div>
                          <div class="sc_testimonial_author">
                            <span class="sc_testimonial_author_name">Jeff McCallum</span>
                            <span class="sc_testimonial_author_position">McCallum Petrochemicals</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sc_slider_controls_wrap">
                      <a class="sc_slider_prev" href="#"></a>
                      <a class="sc_slider_next" href="#"></a>
                    </div>
                    <div class="sc_slider_pagination_wrap"></div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="content_wrap">
          <div class="content">
            <article class="post_item">
              <section class="post_content">

                <!-- <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 sc_custom_margin_8"
                  data-animation="animated fadeInUp normal">
                  <div class="column-1_2 sc_column_item">
                    <h4 class="sc_title sc_title_regular">From the Blog</h4>
                    <div class="sc_blogger layout_classic_2 without_images sc_blogger_horizontal">
                      <div class="isotope_wrap" data-columns="2">
                        <div class="isotope_item isotope_item_classic isotope_item_classic_2 isotope_column_2">
                          <div class="post_item post_item_classic post_item_classic_2">
                            <div class="post_content isotope_item_content">
                              <h6 class="post_title">
                                <a href="single-post.html">Booming Private Security Agencies Seek PE
                                  Funding</a>
                              </h6>
                              <div class="post_info">
                                <span class="post_info_item post_info_posted">
                                  <a href="single-post.html" class="post_info_date">August 5, 2015</a>
                                </span>
                                <span class="post_info_item post_info_counters">
                                  <a class="post_counters_item post_counters_comments icon-chat-empty"
                                    title="Comments - 2" href="single-post.html#comments">
                                    <span class="post_counters_number">2</span>
                                  </a>
                                  <a class="post_counters_item post_counters_likes icon-heart-empty enabled"
                                    title="Like" href="#" data-postid="193" data-likes="0" data-title-like="Like"
                                    data-title-dislike="Dislike">
                                    <span class="post_counters_number">0</span>
                                  </a>
                                </span>
                              </div>
                              <div class="post_descr">
                                <p>
                                  Sed ut perspiciatis, unde omnis iste natus
                                  error sit voluptatem accusantium doloremque
                                  laudantium, totam rem aperiam...
                                </p>
                                <a href="single-post.html" class="post_readmore">
                                  <span class="post_readmore_label">Read more</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="isotope_item isotope_item_classic isotope_item_classic_2 isotope_column_2">
                          <div class="post_item post_item_classic post_item_classic_2">
                            <div class="post_content isotope_item_content">
                              <h6 class="post_title">
                                <a href="single-post.html">Career As a Security Professional</a>
                              </h6>
                              <div class="post_info">
                                <span class="post_info_item post_info_posted">
                                  <a href="single-post.html" class="post_info_date">August 5, 2015</a>
                                </span>
                                <span class="post_info_item post_info_counters">
                                  <a class="post_counters_item post_counters_comments icon-chat-empty"
                                    title="Comments - 0" href="single-post.html#respond">
                                    <span class="post_counters_number">0</span>
                                  </a>
                                  <a class="post_counters_item post_counters_likes icon-heart-empty enabled"
                                    title="Like" href="#" data-postid="191" data-likes="1" data-title-like="Like"
                                    data-title-dislike="Dislike">
                                    <span class="post_counters_number">1</span>
                                  </a>
                                </span>
                              </div>
                              <div class="post_descr">
                                <p>
                                  Aperiam eaque ipsa, quae ab illo inventore
                                  veritatis et quasi architecto beatae vitae
                                  dicta sunt, explicabo. Nemo...
                                </p>
                                <a href="single-post.html" class="post_readmore">
                                  <span class="post_readmore_label">Read more</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column-1_2 sc_column_item">
                    <h4 class="sc_title sc_title_regular">We Provide</h4>
                    <div id="sc_skills_diagram" class="sc_skills sc_skills_bar sc_skills_horizontal big_skill"
                      data-type="bar" data-caption="Skills" data-dir="horizontal">
                      <div class="sc_skills_info">
                        <div class="sc_skills_label">UNARMED SECURITY GUARDS</div>
                      </div>
                      <div class="sc_skills_item sc_skills_style_1">
                        <div class="sc_skills_count"></div>
                        <div class="sc_skills_total" data-start="0" data-stop="78" data-step="1" data-max="100"
                          data-speed="10" data-duration="780" data-ed="%">
                          0%
                        </div>
                      </div>
                      <div class="sc_skills_info">
                        <div class="sc_skills_label">VEHICLE SECURITY PATROL</div>
                      </div>
                      <div class="sc_skills_item sc_skills_style_1">
                        <div class="sc_skills_count"></div>
                        <div class="sc_skills_total" data-start="0" data-stop="55" data-step="1" data-max="100"
                          data-speed="29" data-duration="1595" data-ed="%">
                          0%
                        </div>
                      </div>
                      <div class="sc_skills_info">
                        <div class="sc_skills_label">PARKING CONTROL</div>
                      </div>
                      <div class="sc_skills_item sc_skills_style_1">
                        <div class="sc_skills_count"></div>
                        <div class="sc_skills_total" data-start="0" data-stop="32" data-step="1" data-max="100"
                          data-speed="38" data-duration="1216" data-ed="%">
                          0%
                        </div>
                      </div>
                      <div class="sc_skills_info">
                        <div class="sc_skills_label">TRAFFIC CONTROL SECURITY</div>
                      </div>
                      <div class="sc_skills_item sc_skills_style_1">
                        <div class="sc_skills_count"></div>
                        <div class="sc_skills_total" data-start="0" data-stop="65" data-step="1" data-max="100"
                          data-speed="10" data-duration="650" data-ed="%">
                          0%
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </section>
            </article>
          </div>
        </div>
        <div class="sc_gap">
          <div class="sc_section aligncenter clients" data-animation="animated bounceIn normal">
            <div class="sc_section_inner">
              <div class="sc_section_overlay">
                <!-- <div class="sc_section_content">
                  <h4 class="sc_title sc_title_regular">We Assist Them All</h4>
                  <div class="sc_clients_wrap">
                    <div id="sc_clients"
                      class="sc_clients sc_clients_style_clients-1 sc_slider_nopagination sc_slider_nocontrols sc_slider_swiper swiper-slider-container"
                      data-interval="9281" data-slides-per-view="6">
                      <div class="slides swiper-wrapper">
                        <div class="swiper-slide" data-style="width:100%;">
                          <div id="sc_clients_1" class="sc_clients_item">
                            <div class="sc_client_image">
                              <img alt="" src="assets/images/logo-21.png" />
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide" data-style="width:100%;">
                          <div id="sc_clients_2" class="sc_clients_item">
                            <div class="sc_client_image">
                              <img alt="" src="assets/images/logo-51.png" />
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide" data-style="width:100%;">
                          <div id="sc_clients_3" class="sc_clients_item">
                            <div class="sc_client_image">
                              <img alt="" src="assets/images/logo-11.png" />
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide" data-style="width:100%;">
                          <div id="sc_clients_4" class="sc_clients_item">
                            <div class="sc_client_image">
                              <img alt="" src="assets/images/logo-31.png" />
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide" data-style="width:100%;">
                          <div id="sc_clients_5" class="sc_clients_item">
                            <div class="sc_client_image">
                              <img alt="" src="assets/images/logo-6.png" />
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide" data-style="width:100%;">
                          <div id="sc_clients_6" class="sc_clients_item">
                            <div class="sc_client_image">
                              <img alt="" src="assets/images/logo-31.png" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sc_slider_controls_wrap">
                        <a class="sc_slider_prev" href="#"></a>
                        <a class="sc_slider_next" href="#"></a>
                      </div>
                      <div class="sc_slider_pagination_wrap"></div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>


      <footer class="footer_wrap widget_area scheme_original">
        <div class="footer_wrap_inner widget_area_inner">
          <div class="content_wrap">
            <div class="columns_wrap">
              <aside class="column-1_2 widget widget_socials">
                <div class="widget_inner">
                  <div class="logo">
                    <a href="index.html"><img src="assets/images/surefire.png" class="logo_main" alt="" />
                      <div class="logo_text">
                        <!-- <a href="index.html"><img src="assets/images/surefire.png"></a> -->
                      </div>
                      <br />
                      <!-- <div class="logo_slogan">safeguarding your future today</div> -->
                    </a>
                  </div>
                  <div class="logo_descr">
                    <span class="lh_1">

                      Fremont, CA. 94538 <br />
                      Ph: (510) 491-4402
                      <br />
                      <br />
                      Email:
                      <a href="#" class="accent2">info@surefiresecurity.com</a>
                    </span>
                    <!-- <span class="lh_1">
                      <span class="titl">Secure My Organization</span>ProGuards
                      Security Services <br />
                      8531 S. Central Ave <br />
                      Los Angeles, CA. 90000 <br />
                      Ph: (123) 123-1234 Fax: (123) 123-1234
                      <br />
                      <br />
                      Email:
                      <a href="#" class="accent2">info@ancorathemes.com</a>
                    </span> -->
                  </div>
                </div>
              </aside>
              <aside class="column-1_2 widget widget_text">
                <div class="textwidget">
                  <span class="lh_2 ic_list">
                    <a href="#">Security Guard Services</a><br />
                    <a href="#">Vehicle Security Patrol</a><br />
                    <a href="#">Parking Control</a><br />
                    <a href="#">Event Security</a><br />

                  </span>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </footer>
      <div class="copyright_wrap copyright_style_menu scheme_original">
        <div class="copyright_wrap_inner">
          <div class="content_wrap">
            <ul class="menu_footer_nav">
              <li class="menu-item"><a routerLink="/">Home</a></li>
              <li class="menu-item"><a routerLink="/services">Services</a></li>
              <li class="menu-item"><a routerLink="/about-us">About US</a></li>
              <li class="menu-item"><a href="index.html">Request A Quote</a></li>
              <li class="menu-item"><a routerLink="/career">Career</a></li>
              <li class="menu-item"><a routerLink="/contact-us">Contact-US</a></li>
            </ul>
            <div class="copyright_text">
              <a href="#">Surefire</a> &copy; 2023 All Rights Reserved
              <span><a href="#" class="tou">Terms of Use</a> and
                <a href="#" class="pp">Privacy Policy</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>

</body>